# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	本包内有些物品的标签有彩蛋
	扎哈尔是深渊国度最强的boss，但如果不想费劲可以将它围起来拿沙子闷死
	这个包原名叫泥土大陆，后来由提尔2的九天玄壤启发而来这个名字
	自动化是本包坚守的信念
	泥土工艺的神器都被ban掉了
	配方中许多化学反应都较接近现实
	沉浸智能原本恶心的能将你直接劝退
	雷管用的确实很爽，但要确保别在你家旁边用
	下界反应核，这真是一个怀旧的东西
	某鳕鱼竟不知道植魔埋藏的花瓣
	一些恶心人的环节多次被泷吐槽
	核电其实很恶心
	qmd其实是建筑mod
	万象结晶本来需要20多种结晶合成
	作者本人绘画能力特别渣
	为了魔改qmd，我专门研究了几天的玩法并写了一篇教程
	提尔4567已经在筹备中了
	鳕鱼致力于不做人
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


